@{ 
    var UserName = "";
    var isLogin = false;
    var user = Session["User"];
    isLogin = false;

    if (user!=null && user!="")
    {
        var u = (Sandik.GuvenliDepolama.Models.User)user;
        UserName = u.Name + " " + u.SurName;
        isLogin = u.IsTwoFactorPass;
    }
}
<!DOCTYPE html>

<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>ANASAYFA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sitejs")
    @Scripts.Render("~/bundles/site")
    @RenderSection("headers", required: false)
    <meta name="generator" content="Nicepage 3.30.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i">

    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "~/Content/ChestTemplateWhite/images/sandk_logo.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="ANASAYFA">
    <meta property="og:type" content="website">
</head>
<body class="u-body">
    <header class="u-align-center-xs u-border-1 u-border-grey-25 u-clearfix u-header u-sticky u-sticky-af29 u-header" id="sec-c3be" style="background-color:white">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" style="background-color:white">
            <a href="/" class="u-image u-logo u-image-1" data-image-width="1647" data-image-height="1648">
                <img src="~/Content/ChestTemplateWhite/images/sandk_logo.png" class="u-logo-image u-logo-image-1">
            </a>

            <nav class="u-align-left u-font-size-14 u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1">
                <div class="menu-collapse">
                    <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">ANASAYFA</a>
                        </li>
                        @if (!isLogin)
                        {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Secure/login" style="padding: 10px 20px;">GİRİŞ</a>
                            </li>
                        }
                        else { 
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Secure/LogOut" style="padding: 10px 20px;">Çıkış</a>
                            </li>
                        }
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Contact" style="padding: 10px 20px;">İLETİŞİM</a>
                        </li>
                        @if (isLogin)
                        {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/UserStorage" style="padding: 10px 20px;">KULLANICI EKRANI</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">ANASAYFA</a>
                                </li>
                                @if (!isLogin)
                                {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Secure/login" style="padding: 10px 20px;">GİRİŞ</a>
                            </li> }
                                else
                                {
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="/Secure/LogOut" style="padding: 10px 20px;">ÇIKIŞ</a>
                                </li>
                                }
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="/Contact" style="padding: 10px 20px;">İLETİŞİM</a>
                                </li>
                                @if (isLogin)
                                {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/UserStorage" style="padding: 10px 20px;">KULLANICI EKRANI</a>
                            </li>}
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()
    <div class="footer">
        <section class="u-backlink u-clearfix u-grey-80">
            <h3>Sandık © 2021 </h3>
        </section>
    </div>
</body>
</html>